[submodule "С/ping_pong"]
	path = С/ping_pong
	url = https://github.com/missille1/ping_pong
[submodule "С/s21_SimpleBashUtils"]
	path = С/s21_SimpleBashUtils
	url = https://github.com/missille1/s21_SimpleBashUtils
[submodule "С/s21_math"]
	path = С/s21_math
	url = https://github.com/missille1/s21_math
[submodule "С/s21_matrix"]
	path = С/s21_matrix
	url = https://github.com/missille1/s21_matrix
[submodule "Linux/s21_Linux"]
	path = Linux/s21_Linux
	url = https://github.com/missille1/s21_Linux
[submodule "С/s21_BrickGame"]
	path = С/s21_BrickGame
	url = https://github.com/missille1/s21_BrickGame.git
[submodule "Linux/s21_LinuxNetwork"]
	path = Linux/s21_LinuxNetwork
	url = https://github.com/missille1/s21_LinuxNetwork.git
